.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.container-fluid {
  padding-bottom: 60px;
}

h1{
  text-align: center;
}

h1 a {
  font-weight: 200;
}

.card {
    background: #f1f1f1;
}
.card li{
    background: #fafafa;
}
.card li .dropup{
  display: inline;
}

.card li.show-0{
  display: none;
}
.card li.show-0.showAnyway{
  display: block;
  color: #9a9a9a;
}

h6.sameAsCurrent{
  color: #0ca90c;
}

form {
    width: 100%;
}
form.update input{
  max-width: 40%;
  display: inline-block;
}

form.update input.text{
  max-width: 75%;
 }
 form.update input.dateupdate{
  max-width: 24%;
 }

.form-inline .form-control{
    width: 100%;
}

.warning{
    color: #d44950;
}
.warning-border{
  border: 1px solid #d44950;
}

.copybtn {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 80%;
}

.copybtn:hover {
    text-decoration: none;
}

a {
  font-weight: 400;
}

a.dropdown-toggle{
    color: #333;
}

/* https://icons.getbootstrap.com/#install */

a:hover{
  text-decoration: none;
}

small.date{
  line-height: 40px;
}


/*  SETTINGS sidan */

.form-group.archiveAfter.disabled{
  opacity: 0.5;
}