.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.container-fluid {
  padding-bottom: 60px;
}

.card {
  background: #fafafa;
}
.card li{
  background: #f1f1f1;
}

.card li.show-0{
  display: none;
}
.card li.show-0.showAll{
  display: block;
  color: #333;
}

h6.sameAsCurrent{
  color: #0ca90c;
}

form {
    width: 100%;
}

.form-inline .form-control{
    width: 100%;
}